.monofett-regular {
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
}

.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

.micro-5-charted-regular {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
    font-size: 75px;
    padding: 15px 5px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 5px;
}

h2 {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 45px;
    margin: 5px;
}

h3 {
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
}

button {
    border-radius: 15px;
    border: solid 5px black;
    font-family: "Monofett", monospace;
    font-size: 20px;
    margin: 5px;
}

.page {
    background-image: url(../img/grid-paper.png);
    background-size:contain ;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 25px;
}

#excerpt-one-p5 {
    margin: 0 auto;
}