.monofett-regular {
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
}

.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

.micro-5-charted-regular {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
  }

a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    
  }

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../img/grid-background.png");
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
    background-color: rgb(255, 235, 134);
    width: 25%;
    font-size: 45px;
    padding: 5px;
    margin: 0 auto;
    border: 2px solid black;
}

#thumbnail-img {
    animation: titleGrowShrink 3s ease-in-out infinite;
    animation-delay: 1s;
}

#book-title {
    width: 55%;
}

@keyframes titleGrowShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

h2 {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 45px;
    margin: 0 auto;
    padding: 5px 0;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: rgb(255, 235, 134);
    width: 5%;
    text-align: center;
}

h3 {
}

header {
    margin: 0 auto;
    text-align: center;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 0;
}

main {
}

#catherines-book-nook {
    width: 37%;
}

#catherines-book-nook:hover {
    animation: elementGrow 0.75s ease-in-out; /* Add a smooth transition effect */
}

.nav-element:hover {
    animation: elementGrow 0.75s ease-in-out; /* Add a smooth transition effect */
}

.images {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    animation: elementGrow 1.5s ease-in-out infinite; /* Add a smooth transition effect */
}

@keyframes elementGrow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        tranform: scale(1);
    }
}

p {
    font-size: 18px;
}

button {
    border-radius: 15px;
    border: solid 5px black;
    background-color: rgb(160, 206, 252);
    font-family: "Monofett", monospace;
    font-size: 20px;
    margin: 5px;
}

.btn {
    animation: fontChanger 10s infinite ease-in-out;
    font-weight: 500;
    color: white;
    background-color: rgb(12, 67, 205);
    border: solid 5px  rgb(12, 67, 205);
}

@keyframes fontChanger {
    0% {
        font-family: "Monofett", monospace;
    }

    50% {
        font-family: "Reenie Beanie", cursive;
    }
    100% {
        font-family: "Micro 5 Charted", sans-serif;
    }
}

.grid-template {
    display: grid;
    grid-template-columns:  30% 40% 30%;
    margin: 15px 0;
    width: 99%;
    position: relative;
}

.grid-item {
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px 0px;
    background-color: rgba(255, 255, 255, 0.75);
    height:fit-content;
    z-index: 0;
}

.empty-item {
    justify-content: center;
    align-items: center;
    padding: 0 auto;

}

.grid-photo-left {
    text-align: right;
    z-index: 1;
}

.grid-photo-right {
    text-align: left;
    z-index: 1;
}


